* {
   box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    
}

a {
    text-decoration: none;
    
}

.header {
    display: flex;
    width: auto;
    color: white;
    background-color: brown;
    margin: auto;
    justify-content: space-between;
    
}

.headerTitle {


}

.headerNav {
    font-style: normal;
    margin: auto 0;
    
    

}

.headerMenu {
    list-style-type: none;
    display: inline-flex;
    

}

.menuItem {
    margin: 6px;
    color:white;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    

}

.mainMain {
    flex-direction: column;

}

.mainTitle {
    
}

.mainImage {
    flex-basis: content;
    width: 200px;
}

.mainText {

}

.aside {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 50px;
    width: 500px;
    flex-wrap: wrap;
    
}

.asideTitle {
    width: 100%;
}

.asideItem {

}

.asideMeme {
    width:200px;
    margin: 20px;
    transition: all 0.3s;
}

.asideMeme:hover {
    width: 250px;

}

.footer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.footerTitle {

}

.footerLink {
    display: block;
}