* {
   box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    
}

a {
    text-decoration: none;
    
}

.header {
    display: flex;
    width: auto;
    color: white;
    background-color: brown;
    margin: auto;
    justify-content: space-between;
    
}

.headerNav {
    font-style: normal;
    margin: auto 0;
    
    

}

.headerMenu {
    list-style-type: none;
    display: inline-flex;
    

}

.menuItem {
    margin: 6px;
    color:white;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    

}

.mainMain {
    flex-direction: column;

}

.mainImage {
    flex-basis: content;
    width: 200px;
}

.aside {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 50px;
    width: 500px;
    flex-wrap: wrap;
    
}

.asideTitle {
    width: 100%;
}

.asideItem {
    justify-content: baseline;
}

.asideMeme {
    width:200px;
    margin: 20px;
    transition: all 0.3s;
}

.asideMeme:hover {
    width: 220px;

}

.footer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
}

.footerLink {
    display: block;
    margin: 10px;
}

@media screen and (max-width: 480px) {

    .header {
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }
    .headerMenu {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
}

@media screen and (max-width: 530px) {
    .aside {
        flex-direction: column;
        width:auto;
    }
}

@media screen and (max-width: 999px) {
    .main {
        flex-direction: column;
    }
}